/*

    Copyright 2016 Jure Sah <dustwolfy@gmail.com>

    This file is part of Brkljalnik.

    Brkljalnik is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Brkljalnik is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Brkljalnik.  If not, see <http://www.gnu.org/licenses/>.
    
    Please refer to the README file for additional information.

*/

html, body {
 height: 100%;
 font-family: sans-serif;
 padding: 0.5cm 1cm;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	text-align: center;
	border: 1px black solid;
}

td > a > div {
	height: 100%;
	width: 100%;
	padding: 40px;
	font-weight: bold;
}

.ideja-slika, .ropotija-slika {
	height: 100px;
	width: 100px;
	border: 1px solid gray;
	padding: 1px;
	margin: auto;
}

.ideje, .ropotija {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.ideja, .ropotija-kos {
	width: 250px;
	float: left;
}

.ideja-ime, .ropotija-ime {
	text-align: center;
	padding: 10px;
}

